body {
    margin: 0;
    background-color: whitesmoke;
}

input {
    height: 40px;
    width: 40px;
    margin: 0;
    border: 1px solid black;
    font-size: larger;
    text-align: center;
}

header {
    background-color: rgb(4, 94, 4);
    color: whitesmoke;
    margin: 0;
    z-index: 10;
    height: 50px;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
    padding: 10px 0 0 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

i {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
a { color: white; }
a:hover { color: white; }

#board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    z-index: 1;
}

#wrapper {
    padding: 20px 20%;
    text-align: center;
}

.up { border-top: 3px solid black; }
.down { border-bottom: 3px solid black; }
.left { border-left: 3px solid black;}
.right { border-right: 3px solid black; }
